.pcb-heading {
  margin-bottom: 1rem;
}

.pcb-date {
  margin-bottom: 2rem;
  font-size: 13px;
}

.pcb-date-format {
  font-weight: bold;
}

.pcb-img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pcb-dropdown-divider {
  margin: 4rem 0;
  border: 1px solid #2e2e2e;
}

.react-player-vid {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.comments {
  margin-bottom: 3rem;
}