#root {
  position: relative;
  padding-bottom: 5rem;
  min-height: 100vh;
}

.scrollTop {
  position: fixed;
  bottom: 100px;
  right: 0;
  margin-right: 2rem;
  justify-content: flex-end;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}