.container {
  margin-top: 4rem;
}

/*  LEFT PANE  */
.pane-left {
  padding-top: 1rem;
}

.pane-left h1, .mobile-pane-left h1 {
  text-transform: uppercase;
}

.mobile-pane-left {
  display: none;
  padding-left: 16px;
}

.dropdown-divider {
  border: 1px solid lightgray;
}

/*  RIGHT PANE  */
.pane-right {
  padding-top: 1rem;
}

@media (max-width: 960px) {
  .pane-left {
    display: none;
  }

  .mobile-pane-left {
    display: inline-block;
  }

  .pane-right {
    min-width: 100%;
  }

  .container {
    /* align-items: center; */
  }
}