.vpp-container {
  margin-top: 4rem;
  /* border: 1px solid red; */
}

/*  LEFT PANE  */
.pane-left {
  padding-top: 1rem;
}

.pane-left h1, .mobile-pane-left h1 {
  text-transform: uppercase;
}

.mobile-pane-left {
  display: none;
  padding-left: 16px;
  /* border: 1px solid red; */
}

.dropdown-divider {
  border: 1px solid lightgray;
}

/*  RIGHT PANE  */
.pane-right {
  padding-top: 1rem;
}

@media (max-width: 960px) {
  .vpp-container {
    margin-top: 2rem;
  }
  
  .pane-left {
    display: none;
  }

  .mobile-pane-left {
    display: inline-block;
    padding: 0px 16px;
    min-width: 100%;    
  }

  .pane-right {
    min-width: 100%;
  }
}