.cpp-container {
  margin-bottom: 50px;
}

.left-input {
  border-right: 1px solid lightgray;
}

.right-input {
  /* margin-right: 4rem; */
}

.cpp-form-left {
  /* margin-right: 4rem; */
}

.cpp-form-right {
  
}

.overallBtn {
  margin-top: 1rem;
}

